language: ruby
cache: bundler
rvm:
  - 2.3.8

before_install:
  - gem update --system
  - gem install bundler

script: script/cibuild

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  matrix:
    - JEKYLL_VERSION="2.4.0"
    - JEKYLL_VERSION="3.0.0"
    - JEKYLL_VERSION="3.2.1"
